@model PaginatedList<CategoryListDto>

@{
    ViewData["Title"] = "Index";
}

    <div id="PlaceHolderHere"></div>
   
    <div class="container mt-1">
           <div class="container">
        <div class="row mb-2">
            <div class="col-6">
                <form class="d-flex" style="width:60%" asp-action="Index" asp-controller="Category">
                    <input class="form-control me-2" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="col">
                <h5>Category List</h5>
            </div>
            <div class="col">
                <button type="button" class="float-end btn btn-outline-primary mb-1" data-bs-toggle="modal" id="btnCreateModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
        <table class="table table-bordered" id="categoryGrid">
            <thead>
                <tr>
                    <th>CategoryName</th>
                    <th>ImagePath</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td><img src="~/img/category-img/@item.ImagePath" style="width:100px; height:100px" class="border border-white rounded-3" /></td>
                        <td>@item.Active</td>
                        <td>
                            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-toggle="ajax-modal" data-target="#btnDetailModal" id="btnDetailModal" data-url="@Url.Action($"Details/{item.Id}")">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-toggle="ajax-modal" data-target="#editCategory" id="btnEditModal" data-url="@Url.Action($"Edit/{item.Id}")">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-toggle="ajax-modal" data-target="#deleteCategory" data-url="@Url.Action($"Delete/{item.Id}")">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
<div class="d-flex justify-content-center" style="padding-left:55%">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default  @nextDisabled">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    </div>
    @*Create Modal Start*@
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Create", new CategoryAddDto())
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    @*Create Modal End*@
    @section scripts{
        <script src="~/js/category/model.js"></script>
    }
