@model ProductAddDto

    <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailCategoryLabel">Create Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="details-modal">
                    <div class="container-fluid">
                        <form method="post" asp-action="Create" enctype="multipart/form-data" id="createForm">
                            <div class="row">
                                <div class="row">
                                    <div class="col-8 col-sm-8">
                                        <label for="exampleInputEmail1" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="Title" asp-for="Title" autocomplete="off">
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <div class="col-5 col-sm-4">
                                        <label for="exampleInputEmail1" class="form-label">Price</label>
                                        <input type="text" class="form-control" id="price" aria-describedby="emailHelp" name="Price" asp-for="Price" autocomplete="off">
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-12 lead">
                                    <label for="exampleInputEmail1" class="form-label">Description</label>
                                    <textarea class="form-control" id="title" aria-describedby="emailHelp" name="Description" asp-for="Description" autocomplete="off"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-8 col-sm-6">
                                        <label for="exampleInputEmail1" class="form-label">Category</label>
                                        @Html.DropDownListFor(model => model.CategoriesId, Model.Categories, "Select Category", new { @class = "form-control", id = "categoriesId", name="CategoriesId" })
                                        <span asp-validation-for="CategoriesId" class="text-danger"></span>
                                    </div>
                                    <div class="col-8 col-sm-6">
                                        <label for="exampleInputEmail1" class="form-label">Brand</label>
                                        <select name="BrandsId" asp-for="BrandsId" asp-items="@Model.Brands" class="form-control" id="brandsId">
                                            <option value="">Select Brand</option>
                                        </select>
                                        <span asp-validation-for="BrandsId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-8 col-sm-6">
                                        <label for="exampleInputEmail1" class="form-label">Color</label>
                                        <select name="ColorId" asp-for="ColorId" asp-items="@Model.Colors.Select(c => new SelectListItem { Value = c.Value, Text = c.Text })" class="form-control" id="colorId">
                                            <option value="">Select Color</option>
                                        </select>
                                        <span asp-validation-for="ColorId" class="text-danger"></span>
                                    </div>
                                    <div class="col-8 col-sm-6 form-check form-switch" style="margin-top:5%">
                                        <input class="form-check-input" type="checkbox" role="switch" id="isActive" style="margin-left:2%" name="IsActive" asp-for="IsActive" autocomplete="off">
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
                                        <span asp-validation-for="IsActive" class="text-danger"></span>
                                        <br />
                                        <label class="form-check-label" for="inStock">InStock</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="inStock" style="margin-left:2%" name="InStock" asp-for="InStock" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-8 col-sm-8">
                                        <label for="exampleInputEmail1" class="form-label">Image Path</label>
                                        <input type="file" class="form-control" id="chooseImg" aria-describedby="emailHelp" name="ImageFile" asp-for="ImageFile" autocomplete="off">
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    </div>
                                    <div class="col-5 col-sm-4 form-check form-switch">
                                        <img src="https://placehold.jp/75*75.png" style="width:100px; height:100px" class="border border-white rounded-3" id="imgPreview" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="float-end">
                                <button type="button" class="btn btn-secondary" onclick="@("window.location.href='" + @Url.Action("Index", "Product") + "'");" id="btn-close">Close</button>
                                <button type="submit" class="btn btn-primary" id="btn-save">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/product/product.js"></script>
    <script src="~/js/product/model.js"></script>
