@model PaginatedList<ProductListDto>

@{
    ViewData["Title"] = "Index";
}

<div id="ProductPlaceHolderHere"></div>
<div class="container mt-3">
    <div class="container">
        <div class="row mb-2">
            <div class="col-6">
                <form class="d-flex" style="width:60%" asp-action="Index" asp-controller="Product">
                    <input class="form-control me-2" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="col">
                <h5>Product List</h5>
            </div>
            <div class="col">
                <button type="button" class="float-end  btn btn-outline-primary" data-toggle="ajax-modal" data-target="#btnDetailProductModal" id="btnDetailProductModal" data-url="@Url.Action($"Create")">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Color</th>
                <th>Price</th>
                <th>Image</th>
                <th>InStock</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.CategoryName</td>
                    <td>@item.BrandName</td>
                    <td>@item.ColorName</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> @item.Price</td>
                    <td><img src="~/img/product-list-img/@item.ImagePath" style="width:100px; height:100px" class="border border-white rounded-3" /></td>
                    <td>@item.InStock</td>
                    <td>@item.IsActive</td>
                    <td>
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-toggle="ajax-modal" data-target="#btnDetailModal" id="btnDetailProductModal" data-url="@Url.Action($"Details/{item.Id}")">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-toggle="ajax-modal" data-target="#editCategory" id="btnEditProductModal" data-url="@Url.Action($"Edit/{item.Id}")">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-toggle="ajax-modal" data-target="#deleteCategory" id="btnDeleteProductModal" data-url="@Url.Action($"Delete/{item.Id}")">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="d-flex justify-content-center" style="padding-left:52%">

    <a asp-action="Index" type="button"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
    <a asp-action="Index" type="button"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
</div>
@section scripts{
    <script src="~/js/product/model.js"></script>
    }

